<div *ngIf="openAnswer" style="margin-left: 30%">
  <div *ngFor="let question of questions" style="margin-top: 5px; text-align: left; font-size: 17pt;">
    <p-radioButton value="{{question}}" label="{{question}}" [(ngModel)]="selectedValue" ></p-radioButton>
  </div>
</div>

<div style="margin-top: 5%" *ngIf="openAnswer == false">
  <button pButton type="button" label="Показать варианты ответов"
          class="ui-button-rounded" (click)="change(true)"></button>
</div>

<div style="margin-top: 3%" *ngIf="openAnswer">
  <button pButton type="button" label="Ответить"
          class="ui-button-rounded" (click)="saveAnswer()" [disabled]="selectedValue == null" style="font-size: 130%;"></button>
</div>
