:host ::ng-deep .ui-menu .ui-menuitem-link:hover, body .ui-menubar .ui-menuitem-link:hover, body .ui-tieredmenu .ui-menuitem-link:hover, body .ui-contextmenu .ui-menuitem-link:hover, body .ui-megamenu .ui-menuitem-link:hover, body .ui-slidemenu .ui-menuitem-link:hover {
  background-color: white;
  cursor: default;
}

:host ::ng-deep .ui-tieredmenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link{
  background-color: white;
  cursor: default;
}
