<H1 style="margin-top: 5%; text-align: center">{{task.header}} {{task.taskName}} </H1>
<p-toast></p-toast>
<div style="text-align: center">
  <div class="ui-g" *ngIf="openAnswer == false">
    <div style="margin: 0 auto">
      <h2>Загрузите изображения формата png</h2>
        <p-fileUpload #form name="demo[]" customUpload="true" (uploadHandler)="myUploader($event, form)"
                    multiple="multiple" accept="image/*">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
  </div>

  <app-answerpart [taskRest]="taskRest" (onchanged)="openAnswer = $event" [questions]="task.answers"
                  [openAnswer]="openAnswer"></app-answerpart>
</div>
