<div class="ui-g">
  <div class="ui-g-12 ui-md-8" style="margin: 0 auto;">
    <h2>
      Как работать с тестовыми заданиями?<br><br>
      Прежде чем переходить к выполнению практических тестовых заданий необходимо авторизоваться в системе путем ввода
      имени, фамилии и номера группы. Система предложит сделать это автоматически при переходе к тестовым
      заданиям.<br><br>
      Далее каждое тестовое задание имеет заголовок, который является указателем на то, что необходимо протестировать
      и на что обратить внимание.<br><br>
      Как только Вы решили, что нашли дефект и готовы ответить на задание, необходимо нажать на кнопку «Показать
      варианты ответов».
      После этого область с тестовым заданием будет скрыта и заменена на варианты ответов. Будьте внимательны: обратно
      вернуться
      нельзя!<br><br>
      После выбора подходящего варианта ответа нажмите кнопку «Ответить». После этого Ваш вариант ответа будет засчитан
      и будет выведено новое задание.<br><br>
      Далее, после окончания тестирования (20 заданий) будет подведен результат в процентах выполненных заданий,
      на основании этого система предложит персональные рекомендации.<br><br>
      Удачи!
    </h2>
  </div>
</div>
