<div class="ui-g">
  <div class="ui-g-12 ui-md-4" style="margin: 0 auto; text-align: center">
    <h2 style="text-align: center">Авторизация для прохождения тестирования</h2>
    <form [formGroup]="userForm" (ngSubmit)="startTask()">
      <div style="margin-top: 7%">
      <span class="ui-float-label">
       <input type="text" size="30" pInputText [(ngModel)]="user.firstName" style="width: 100%;"
              formControlName="firstName" placeholder="Имя*"/>
        <p-message severity="error" text="Имя обязательное поле"
                   *ngIf="!userForm.controls.firstName.valid&&userForm.dirty" class="message"></p-message>
      </span>
      </div>
      <div style="margin-top: 7%">
      <span class="ui-float-label">
       <input id="lastName" type="text" size="30" pInputText [(ngModel)]="user.lastName" style="width: 100%;"
              formControlName="lastName" placeholder="Фамилия*"/>
               <p-message severity="error" text="Фамилия обязательное поле"
                          *ngIf="!userForm.controls.lastName.valid&&userForm.dirty" class="message"></p-message>
      </span>
      </div>
      <div style="margin-top: 7%">
      <span class="ui-float-label">
       <input id="groupNumber" type="text" size="30" pInputText [(ngModel)]="user.groupNumber" style="width: 100%;"
              formControlName="groupNumber" placeholder="Номер группы*"/>
        <p-message severity="error" text="Номер группы обязательное поле"
                   *ngIf="!userForm.controls.groupNumber.valid&&userForm.dirty" class="message"></p-message>
      </span>
      </div>

      <div style="margin-top: 7%">
        <button pButton type="submit" label="Авторизоваться"
                class="ui-button-rounded ui-button-success"></button>
      </div>
    </form>
  </div>
</div>
