<H1 style="margin-top: 5%; text-align: center">{{task.taskName}} - {{task.header}}</H1>
<div class="ui-g">
  <div class="ui-g-12 ui-md-4" style="margin: 0 auto;text-align: center ">
    <div style="margin-top: 7%">
      <span class="ui-float-label" *ngIf="openAnswer == false && hide == false">
       <input id="firstName" type="text" size="60" pInputText style="width: 100%;"/>
       <label for="firstName">Имя</label>
      </span>
    </div>
    <div style="margin-top: 7%" *ngIf="openAnswer == false && hide == false">
      <span class="ui-float-label">
       <input id="lastName" type="text" size="60" pInputText style="width: 100%;"/>
       <label for="lastName">Фамилия</label>
      </span>
    </div>
    <div style="margin-top: 7%" *ngIf="openAnswer == false && hide == false">
      <span class="ui-float-label">
       <input id="groupNumber" type="text" size="60" pInputText style="width: 100%;"/>
       <label for="groupNumber">Номер группы</label>
      </span>
    </div>

    <div style="margin-top: 7%" *ngIf="openAnswer == false && hide == true">
      <h1>Вы успешно авторизованы</h1>
    </div>

    <div style="margin-top: 7%" *ngIf="openAnswer == false && hide == false">
      <button pButton type="button" label="Авторизоваться"
              class="ui-button-rounded ui-button-success" (dblclick)="hide=true"></button>
    </div>
    <app-answerpart [taskRest]="taskRest" (onchanged)="openAnswer = $event" [questions]="task.answers"
                    [openAnswer]="openAnswer"></app-answerpart>
  </div>
</div>
