<div class="ui-g">
  <div class="ui-g-12 ui-md-8" style="margin: 0 auto;">
    <h2>
      Вы находитесь на главной странице обучающего веб-ресурса тестирования программного обеспечения.<br><br>
      В настоящее время тестирование – процесс анализа программного средства и сопутствующей документации с целью
      выявления
      дефектов – стало обязательной частью жизненного цикла по разработке программного обеспечения. Тестирование
      направлено
      на обнаружение и устранение как можно большего числа дефектов. Следствием такой деятельности является повышение
      качества
      программного обеспечения по всем его характеристикам.<br><br>
      Знание основных принципов и умение тестировать программные продукты – одно из базовых требований, которое
      предъявляется
      к современному специалисту, работающему в сфере разработки программного обеспечения.<br><br>
      Данный веб-ресурс предоставляет следующие возможности:<br><br>
      1. Изучение теоретических данных с помощью методического пособия ЮЗАБИЛИТИ-ТЕСТИРОВАНИЕ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ
      (Авторы: М.М. Меженная, Т.В. Гордейчук, М.М. Борисик, О.С. Медведев, И.Ф. Киринович)<br><br>
      2. Решение практических задач, в которых главной целью является нахождение заключенных дефектов пользовательского
      интерфейса
      и функциональности (всего 20 заданий).<br><br>
      3. Предоставление персональных рекомендаций на основе полученного результата тестирования.
      Для дальнейшей работы рекомендуется перейти к изучению теоретической части.
    </h2>

    <div style="margin-top: 5%;text-align: center">
      <button pButton type="button" label="Перейти к изучению теории" class="ui-button-rounded" (click)="router.navigate(['theory'])"></button>
    </div>
  </div>
</div>
