<router-outlet></router-outlet>
<div style="text-align: center">
  <H1>{{task.header}} {{task.taskName}} </H1>
  <div class="ui-g" *ngIf="openAnswer == false">
    <div class="ui-g-12 ui-md-4" style="width: 60%; margin: 0 auto">
      <p-scrollPanel [style]="{width: '100%', height: '300px'}">
        <div style="padding:1em;line-height:1.5; text-align: left">
          ПРАВА НА УСТАНОВКУ И ИСПОЛЬЗОВАНИЕ.<br>
          <p align="right">a. Одна копия на устройство. Вы можете установить одну копию программного
            обеспечения на одно устройство. Такое устройство называется «лицензированным
            устройством».</p>
          <p align="left">b. Лицензированное устройство. Вы имеете право одновременно использовать только
            одну копию программного обеспечения на лицензированном устройстве.</p>
          c. Портативное устройство. Вы можете установить еще одну копию программного
          обеспечения на переносное устройство исключительно для использования основным
          пользователем лицензированного устройства.<br>
          d. Разделение на компоненты. Компоненты программного обеспечения лицензируются все
          вместе как единый продукт. Вы не имеете права отделять компоненты и устанавливать их
          на других устройствах.<br>
          e. Разные версии. Программное обеспечение может включать несколько версий (например,
          32- и 64-разрядную). Вы имеете право установить и одновременно использовать только
          одну версию.<br>
        </div>
      </p-scrollPanel>
    </div>

  </div>
  <div *ngIf="openAnswer == false">
    <p-checkbox name="groupname" label="Подтвердить" value="Подтвердить"></p-checkbox>
  </div>

  <app-answerpart [taskRest]="taskRest" (onchanged)="openAnswer = $event" [questions]="task.answers" [openAnswer]="openAnswer"></app-answerpart>
</div>
