<H1 style="margin-top: 5%; text-align: center">[Пользовательский интерфейс] - location</H1>
<div class="ui-g">
  <div class="ui-g-12 ui-md-4" style="margin: 0 auto;text-align: center ">
    <div *ngIf="openAnswer == false">
      <div style="margin-top: 7%">
      <span class="ui-float-label">
        <input id="input" type="text" size="60" pInputText [(ngModel)]="text"/><span id="text">{{size()}}</span>
        <label for="input">Имя</label>
        </span>
      </div>
      <div style="margin-top: 7%">
      <span class="ui-float-label">
       <input id="lastName" type="text" size="60" pInputText/>
       <label for="lastName">Фамилия</label>
      </span>
      </div>
      <div style="margin-top: 7%">
      <span class="ui-float-label">
       <input id="groupNumber" type="text" size="60" pInputText/>
       <label for="groupNumber">Номер группы</label>
      </span>
      </div>
    </div>
    <app-answerpart [taskRest]="taskRest" (onchanged)="openAnswer = $event" [questions]="task.answers"
                    [openAnswer]="openAnswer"></app-answerpart>
  </div>

</div>
