<p-toast [style]="{marginTop: '80px'}"></p-toast>
<H1 style="margin-top: 5%; text-align: center">{{task.taskName}} - {{task.header}}</H1>
<div class="ui-g">
  <div class="ui-g-12 ui-md-4" style="margin: 0 auto;text-align: center ">
    <div style="margin-top: 7%" *ngIf="openAnswer == false">
      <span class="ui-float-label">
       <input id="firstName" type="text" size="60" pInputText [(ngModel)]="user.firstName" style="width: 100%;"/>
       <label for="firstName">Имя</label>
      </span>
    </div>
    <div style="margin-top: 7%" *ngIf="openAnswer == false">
      <span class="ui-float-label">
       <input id="lastName" type="text" size="60" pInputText [(ngModel)]="user.lastName" style="width: 100%;"/>
       <label for="lastName">Фамилия</label>
      </span>
    </div>
    <div style="margin-top: 7%" *ngIf="openAnswer == false">
      <span class="ui-float-label">
       <input id="groupNumber" type="text" size="60" pInputText [(ngModel)]="user.groupNumber" style="width: 100%;"/>
       <label for="groupNumber">Номер группы</label>
      </span>
    </div>

    <div style="margin-top: 7%" *ngIf="openAnswer == false">
      <button pButton type="button" label="Авторизоваться"
              class="ui-button-rounded ui-button-success" (click)="clear()"></button>
    </div>
  </div>
</div>
