<div>
  <div class="ui-g-12 ui-md-4">
    <h2 style="text-align: center">что то протест</h2>
    <div style="margin-top: 7%">
      <span class="ui-float-label" *ngIf="openAnswer == false && hide == false">
       <input id="firstName" type="text" size="30" pInputText style="width: 100%;" placeholder="Имя"/>
      </span>
    </div>
    <div style="margin-top: 7%" *ngIf="openAnswer == false && hide == false">
      <span class="ui-float-label">
       <input id="lastName" type="text" size="30" pInputText style="width: 100%;"/>
       <label for="lastName">Фамилия</label>
      </span>
    </div>
    <div style="margin-top: 7%" *ngIf="openAnswer == false && hide == false">
      <span class="ui-float-label">
       <input id="groupNumber" type="text" size="30" pInputText style="width: 100%;" placeholder="Номер группы"/>
      </span>
    </div>

    <div style="margin-top: 7%" *ngIf="openAnswer == false && hide == false">
      <p-calendar placeholder="Дата рождения"></p-calendar>
    </div>

    <div style="margin-top: 7%" *ngIf="openAnswer == false && hide == true">
      <h1>Вы успешно зарегистрированы</h1>
    </div>

    <div style="margin-top: 7%" *ngIf="openAnswer == false && hide == false ">
      <button pButton type="button" label="Зарегистрироваться"
              class="ui-button-rounded ui-button-success" (click)="hide = true"></button>
    </div>

    <app-answerpart [taskRest]="taskRest" (onchanged)="openAnswer = $event" [questions]="task.answers"
                    [openAnswer]="openAnswer"></app-answerpart>
  </div>
</div>
